.home {
  // background-color: hsl(186, 53%, 47%);
  background-image: url("./main.jpg");
  background-size: cover; /* Scale the image to cover the entire element */
  background-position: center center; 
  min-height: 100vh;

  & nav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #fff;
    & > .logo {
      color: #fff;
    }
  }
}
.home-links {
  display: flex;
  justify-content: center;
  align-items: center;
  & li a {
    color: #fff;
  }
  & > * {
    margin-left: 1rem;
    color: #fff;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  width: 50%;
  & > * {
    color: #fff;
    margin-bottom: 2rem;
  }
  & > h2 span {
    display: block;
  }
  & .hero-buttons a {
    color: #fff;
  }
}
.hero-image {
  width: 50%;
}
@media screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
  }

  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .hero-image {
    width: 100%;
    &img {
      width: 100%;
    }
  }
}
.login-class {
  display: flex;
  justify-content: flex-end;
  // height: 100vh; /* Set the height of the container to the full viewport height */
  align-items: center; /* Center content vertically within the container */
  padding-right: 20px; /* Add some space to the right for a better visual appearance */
}

.box {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: space-between; /* Distribute items along the horizontal axis with space between them */
}

.logob {
  width: auto;
  height: auto;
  margin-bottom: 50px;
  align-self: flex-start;
  // top: -50px;
}

.description {
  font-size: 38px; /* Larger font size */
  font-weight: bold;
  color: #333; /* Text color */
  text-align: center;
  
  // margin-top: 20px;
  padding: 20px;
  border-radius: 10px; /* Rounded corners */
  // background-color: #f0f0f0; /* Background color */
  // box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow for a subtle lift */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */

  /* Gradient background */
  // background: linear-gradient(to bottom, #ff6b6b, #ffc0cb);

  /* Text shadow for a soft glow */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.description:hover {
  background-color: #aacef7; /* Change background color on hover */
  transform: scale(1.03); /* Slight scale effect on hover */
}




.image1 {
  height: 100px;
  margin-right: 50px;
  margin-bottom: 50px;
  align-self: flex-end; /* Align the image to the bottom of the flex container */
}

