.home {
  // background-color: hsl(186, 53%, 47%);
  background-image: url("./bgimage.jpeg");
  background-size: cover; /* Scale the image to cover the entire element */
  background-position: center center; 
  min-height: 100vh;

  & nav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #fff;
    & > .logo {
      color: #fff;
    }
  }
}
.home-links {
  display: flex;
  justify-content: center;
  align-items: center;
  & li a {
    color: #fff;
  }
  & > * {
    margin-left: 1rem;
    color: #fff;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  width: 50%;
  & > * {
    color: #fff;
    margin-bottom: 2rem;
  }
  & > h2 span {
    display: block;
  }
  & .hero-buttons a {
    color: #fff;
  }
}
.hero-image {
  width: 50%;
}
@media screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
  }

  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .hero-image {
    width: 100%;
    &img {
      width: 100%;
    }
  }
}
.login-class {
  display: flex;
  justify-content: flex-end;
  // height: 100vh; /* Set the height of the container to the full viewport height */
  align-items: center; /* Center content vertically within the container */
  padding-right: 20px; /* Add some space to the right for a better visual appearance */
}

.box {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  justify-content: space-between; /* Distribute items along the horizontal axis with space between them */
}

.logo {
  height: 130px;
  margin: 0 10px;
}

.description {
  height: 130px;
  margin: 0 10px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  background-color: hsl(187, 63%, 92%);
  color: rgb(35, 34, 34); /* Set text color to contrast with the background */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.image1 {
  height: 100px;
  margin-right: 50px;
  align-self: flex-end; /* Align the image to the bottom of the flex container */
}
