/* AddProduct.css or your preferred stylesheet */

.mass-upload-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .mass-upload-button:hover {
    background-color: #0056b3;
  }

  .file-upload-container {
    border: 2px dashed #ccc;
    font-size: large;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .file-upload-container:hover {
    border-color: #007bff;
  }
  
  .file-upload-input {
    display: none; /* Hide the default file input */
  }
  
  .file-upload-label {
    cursor: pointer;
    color: #007bff;
  }
  
  .file-upload-label:hover {
    text-decoration: underline;
  }
  